*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#F5F7FB;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background:white;

    box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:26px;

    font-weight:bold;

}

.logo img{

    height:55px;

}

.start-btn{

    background:#2563EB;

    color:white;

    border:none;

    padding:12px 24px;

    border-radius:10px;

    cursor:pointer;

}

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:70px;

    height:calc(100vh - 90px);

}

.hero-text{

    width:50%;

}

.hero-text h1{

    font-size:50px;

    margin-bottom:20px;

}

.hero-text p{

    font-size:22px;

    color:#555;

    margin-bottom:30px;

}

.hero-text button{

    background:#2563EB;

    color:white;

    border:none;

    padding:16px 30px;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;

}

.hero-image img{

    width:420px;

}